In [2]:
import mysql.connector
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [5]:
# Conectar a la base de datos MySQL
db_connection = mysql.connector.connect(
    host="localhost",  # Dirección del servidor, si es remoto usa la IP o URL
    user="root",  # Tu nombre de usuario en MySQL
    password="Y26CIYuzhveqKf",  # Tu contraseña en MySQL
    database="classicmodels"  # El nombre de tu base de datos
)

# Crear un cursor para ejecutar las consultas
cursor = db_connection.cursor()

In [6]:

# Crear un cursor para ejecutar las consultas
cursor = db_connection.cursor()

# Ejecutar la consulta SELECT
query = """
SELECT orders.orderDate, orderdetails.*,products.*
FROM orderdetails
JOIN products ON products.productCode = orderdetails.productCode
JOIN orders ON orders.orderNumber = orderdetails.orderNumber
ORDER BY orderdetails.orderNumber;
"""
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Obtener los nombres de las columnas (opcional)
columns = [column[0] for column in cursor.description]

# Convertir los resultados en un DataFrame de pandas
df_sql = pd.DataFrame(results, columns=columns)

# Mostrar el DataFrame
df_sql.head()

# Cerrar la conexión
cursor.close()
db_connection.close()

In [11]:
df_sql['orderDate'] = pd.to_datetime(df_sql['orderDate'], format='%Y-%m-%d')

In [12]:
df_sql [['orderDate']].dtypes

orderDate    datetime64[ns]
dtype: object

In [13]:
df_sql [['orderDate']]

      orderDate
0    2003-01-06
1    2003-01-06
2    2003-01-06
3    2003-01-06
4    2003-01-09
...         ...
2991 2005-05-31
2992 2005-05-31
2993 2005-05-31
2994 2005-05-31
2995 2005-05-31

[2996 rows x 1 columns]

In [14]:
df_sql.to_csv('data_v2.csv', index=False)

In [15]:
df=pd.read_csv('data_v2.csv')

In [17]:
df_sql.dtypes

orderDate             datetime64[ns]
orderNumber                    int64
productCode                   object
quantityOrdered                int64
priceEach                     object
orderLineNumber                int64
productCode                   object
productName                   object
productLine                   object
productScale                  object
productVendor                 object
productDescription            object
quantityInStock                int64
buyPrice                      object
MSRP                          object
dtype: object

# Data Simulada

In [1]:
import pandas as pd
import random
import numpy as np

# Definir las líneas de productos y sus precios promedio
product_lines = ['Tecnología', 'Electrodomésticos', 'Muebles', 'Ropa', 'Juguetes', 'Herramientas']
avg_prices = {
    'Tecnología': 500,     # Precio promedio para tecnología (más caro)
    'Electrodomésticos': 150,
    'Muebles': 300,
    'Ropa': 30,            # Ropa es más barata
    'Juguetes': 40,
    'Herramientas': 80
}

# Definir el rango de cantidades pedidas basado en la línea de producto
quantity_ranges = {
    'Tecnología': (50, 200),      # Menor demanda, pero artículos caros
    'Electrodomésticos': (100, 500),
    'Muebles': (80, 300),
    'Ropa': (500, 3000),          # Gran demanda por ser barato
    'Juguetes': (200, 1000),
    'Herramientas': (100, 700)
}

# Función para simular los datos
def generate_data(num_records=100):
    data = []
    
    for _ in range(num_records):
        # Elegir una línea de producto aleatoria
        product_line = random.choice(product_lines)
        
        # Determinar la cantidad pedida dentro del rango de la línea de producto
        quantity_ordered = random.randint(*quantity_ranges[product_line])
        
        # Obtener el precio promedio de esa línea de producto y agregar una variabilidad
        price_each = avg_prices[product_line] * np.random.uniform(0.8, 1.2)
        
        # Agregar los datos al listado
        data.append([quantity_ordered, round(price_each, 2), product_line])
    
    # Crear un DataFrame con los datos generados
    df = pd.DataFrame(data, columns=['quantityOrdered', 'priceEach', 'productLine'])
    
    return df

# Generar el DataFrame con 100 registros
df = generate_data(100)

# Mostrar las primeras filas del DataFrame
print(df.head())

# Guardar el DataFrame en un archivo CSV
df.to_csv('simulated_sales_data.csv', index=False)

   quantityOrdered  priceEach   productLine
0              271      84.72  Herramientas
1              147     270.04       Muebles
2              531      32.31      Juguetes
3              768      26.73          Ropa
4             2356      31.74          Ropa